.contenedor {
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
section {
    flex: 1;
}
#formulario1 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto ;
    height: 100%;
    gap: 15px;
    text-align: left;
}
#formulario2 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto ;
    height: 100%;
    gap: 15px;
    text-align: left;
}

#boton {
  background-color: red;
  color: white;
  border-radius: 8px;
  width: 20vw;
  height: 8vh;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 1% auto ;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.modal-contenido {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.cerrar {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.cerrar:hover {
  color: #f00;
}


#modal-resultado {
  position: relative;
  z-index: 1;
  padding: 40px 20px 20px 20px;
}

